<div class="main-content">
	<div class="col">
		<div class="well">
			<div class="card">
				<div class="card-header">
					Task
				</div>
				<div class="card-body">
					<form #taskForm=ngForm (ngSubmit)="saveTodoData()">
						<div class="alert alert-danger" [hidden]="!error">
							{{error}}
						</div>
						<div class="form-group row">
							<div class="col-sm-3">
								<input type="text" placeholder="Add a task here" name="email" [(ngModel)]="form.task_name" class="form-control" id="inputEmail3"  required>
							</div>
							<div class="col-sm-3">
								<input type="date" display-format="D/MM/YY" picker-format="D MM YYYY"  name="Startdate" [(ngModel)]="form.startdate" class="form-control" id="inputDate3"  required>
							</div>
							<div class="col-sm-3">
								<input type="date" display-format="D/MM/YY" picker-format="D MM YYYY" name="Enddate" [(ngModel)]="form.enddate" class="form-control" id="inputDate13"  required>
							</div>
							<div class="col-sm-3">
								<button type="submit" class="btn btn-primary btn-block" [disabled]="!taskForm.valid">Add Task</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
    </div>
</div>
